@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kosugi+Maru&family=Noto+Sans+SC:wght@400;700&display=swap");
@media only screen and (min-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
  }
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Inter", "Kosugi Maru", sans-serif;
    color: var(--text-color);
  }
  .a {
    font-family: "Inter", "Kosugi Maru", sans-serif;
    color: var(--text-color);
    text-decoration: none;
  }
  .svg {
    filter: invert(var(--imgfiltercolor));
  }
  .loading {
    background: linear-gradient(
      270deg,
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--body-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color)
    );
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
  }
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Inter", "Kosugi Maru", sans-serif;
    color: var(--text-color);
  }
  .a {
    font-family: "Inter", "Kosugi Maru", sans-serif;
    color: var(--text-color);
    text-decoration: none;
  }
  .svg {
    filter: invert(var(--imgfiltercolor));
  }
  .loading {
    background: linear-gradient(
      270deg,
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--body-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color),
      var(--light-large-opposite-color)
    );
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
