body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}
.content{
    margin-left: 5%;
    margin-right: 5%;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Inter','Kosugi Maru', sans-serif;
    color: var(--text-color);
}
.a{
    font-family: 'Inter','Kosugi Maru', sans-serif;
    color: var(--text-color);
    text-decoration: none;
}
.svg{
    filter: invert(var(--imgfiltercolor));
}